$black: #0a0b09;
$grey1: #f7f7f7;
$white: #ffffff;
$blue1: #003475;


// Text
$grey-600: #27292d;
$grey-550: #2d3134;
$grey-500: #3f4447;
$grey-450: #55565b;
$grey-400: #717277;
$grey-350: #96979f;
$grey-300: #a9afb2;
$grey-250: #dadfe3;
$grey-200: #e6eaed;
$grey-150: #edf1f3;
$grey-100: #f6f8f9;

// Background
$background: $grey1;
$topbar-background: $blue1;
